<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mobile2app_banner"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dg"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile2App">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Mobile2App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatabaseActivity"
            android:exported="false"
            android:label="@string/database_bottom_bar_button"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Theme.Mobile2App">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:exported="false"
            android:label="@string/add_item"
            android:parentActivityName=".DatabaseActivity"
            android:theme="@style/Theme.Mobile2App">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DatabaseActivity" />
        </activity>
        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:label="@string/notification_bottom_bar_button"
            android:parentActivityName=".DatabaseActivity"
            android:theme="@style/Theme.Mobile2App">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DatabaseActivity" />
        </activity>
    </application>

</manifest>